*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background-image: url("./images/backjpg.jpg");
    background-size: 100% 100%;
}
.jaro-title {
    font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    cursor: default;
  }
.lacquer-regular {
    font-family: "Lacquer", system-ui;
    font-weight: 400;
    font-style: normal;
    cursor: default;
}
#easyHeader{
    display: flex;
    justify-content: center;    
    height: 20%;
    position: relative;
}
.imageContainer{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0%;
    top: 0%;
}
#logo{
    /* width: 4.5%;
    height: 40%; */
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5); /* Circular shadow */
    /* background-color: inherit; */
}
.nameAndLine{
    /* background-color: red; */
    height: 100%;
    width: 60%;
    display: flex;
    /* flex-wrap: wrap ; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#gameName{
    color: white;
    text-shadow: 3px 3px 10px red;
    font-size: 4em;
}
.line{
    height: 2px;
    width: 50%;
    background-color: white;
}
#mode{
    padding-top: 7px;
    color: white ;
    text-shadow: 1px 1px 4px black;
}
#mainBody{
    width: 100%;
    height: 80%;
    position: relative;
    /* border: 2px solid black; */
}
#gameBody{
    width: 70%;
    height: 90%;
    margin-top: 2%;
    margin-left: 2%;
    /* border-right: 2px solid black; */
    position: relative;
    background:linear-gradient(to bottom right,#01003c 0%,rgb(39, 63, 70) 90%);
    border-radius: 20px;
}
#gameStatistics{
    background:linear-gradient(to bottom right,#01003c 0%,rgb(39, 63, 70) 90%);
    width: 24%;
    height: 90%;
    margin-top: 2%;
    margin-left: 2%;
    border-radius: 20px;
    position: relative;
}
#statisticsCard{
    height: 80%;
    width: 80%;
    position: absolute;
    left: 10%;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#gameDiv{
    width: 90%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 5%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 20px;
    background-size: cover;
}
.cards{
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 3px 3px 4px white;
    transition: transform 2s;
}
.card-body{
    width: 100%;
    height: 100%;
    padding: 0;
}
.flip-body{
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d; /*Ensures both sides of the card are visible*/
    transition: transform 0.6s;/* Smooth flip animation */
    
}
/* Front face of the card */
.card-front, .card-back {

    border-radius: 20px;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /*Prevents showing the back when flipped*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
}
/* Style for the front side */
.card-front {
}

/* Style for the back side */
.card-back {
    border-radius: 20px;
    transform: rotateY(180deg); /*Initially rotates the back side*/
}

/* click effect for flipping the card */
.flip-body.flipped {
    transform: rotateY(180deg); /* Flip the card */
  }
.non-clickable {
pointer-events: none; /* Disable all pointer events */
}
.frontImage{
    width:100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}
.cardImage{
    height: 100%;
    width: 100%;
    object-fit:fill;
    border-radius: inherit;
  }
section{
    display: flex;
    flex-direction: row;
}

.label{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 25px !important;
    color:  rgb(61, 187, 61) ;
}
#statisticsCard p,#statisticsCard div, #statisticsCard button{
    font-size: 30px;
    color: rgb(208, 208, 208);
    font-weight: 400;
}
#timerContainer{
    width: 80%;
    height: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#statisticsCard button{
    width: 60%;
    height: 10%;
    border: none;
    border-radius: 10px;
    background:linear-gradient(to top left,#01003c 0%,rgb(74, 112, 124) 90%);
    outline: none;
}
.modal-xl{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40%;
    height: 40%;
    border-radius: 10px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content:center;
    text-align: center;
    background-color: rgba(245, 245, 246, 0.824);
    z-index: 1;
    font-weight:600;
    color: rgb(0, 0, 69);
    box-shadow: 0px 0px 20px rgb(0, 0, 69);
}
.loader{
    height:200px;
    width: 200px;
    border : 10px dotted rgb(61, 187, 61);
    animation: spinTimer 60s steps(60,end);
    border-radius: 50%;
    
}
@keyframes spinTimer {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

.paused {
    animation-play-state: paused;
}

#timerDisplay{
    width: 40%;
    height: 20%;
    background-color: #01003c;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 1px 8px  rgb(61, 187, 61);
}
#actualTimer{
    font-size: 50px ;
}
#backButton{
    width: 5%;
    height: 6%;
    border-radius: 10px;
    background:linear-gradient(to top left,#01003c 0%,rgb(74, 112, 124) 90%);
    border: none;
    outline: none;
    position: absolute;
    left: 2%;
    top: 2%;    
    color: white;
    font-size: 20px;
}
#hintLeft{
    position: absolute;
    top: 2%;
    right: 8%;
    color: white;
    font-size: 30px;
}
#hintButton{
    position: absolute;
    right: 2%;
    top: 2%;
    height: 6%;
    width: 5%;
    color: white;
    border-radius: 10px;
    background:linear-gradient(to top left,#01003c 0%,rgb(74, 112, 124) 90%);
    border: none;
    outline: none;
    font-size: 20px;
}
.fa-backward{
    font-size: 20px;
    color: white;
}



/*loader in modal*/
 /* Spinner Timer Container */
 #spinner-timer-container {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 50px auto;
}

/* Spinner */
#spinner-timer {
    width: 50px;
    height: 50px;
    border: 10px solid #ddd; /* Background of the spinner */
    border-top: 10px solid #3498db; /* Spinner progress color */
    border-radius: 50%;
    animation: spin 4s linear infinite; /* Spinner animation */
}

/* Timer Label
#timer-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: bold;
    color: #333;
} */

/* Keyframe for Spinner Animation */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} 
.modal-xl div{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
}
.modal-xl p{
    margin: 0;
}
#homeBtn{
    width: 15%;
    height: 100%;
    background:linear-gradient(to top left,#01003c 0%,rgb(74, 112, 124) 90%);
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
}
#nextBtn{
    
    width: 15%;
    height: 100%;
    margin-left: 10px;
    background:linear-gradient(to top left,#01003c 0%,rgb(74, 112, 124) 90%);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
}


p{
    margin-bottom: 0px;
}

.disabledCard{
    pointer-events: non;
}


#countDown{
    position: absolute;
    left: 50%;
    top: 2%;
    transform: translateX(-50%);
    color: white;
    font-size: 30px;
}