*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
 /* <uniquifier>: Use a unique and descriptive class name */
body{
    overflow-x: hidden;
    /* background-image: linear-gradient(to bottom right,#7032f4 0%,#050f59cc 20%,#357aab 50%,#fb333392 95%); */
    background-image: url("./images/backjpg.jpg");
    /* background-size: contain; */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow-x: hidden;
}
.jaro-title {
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  cursor: default;
}
.lacquer-regular {
    font-family: "Lacquer", system-ui;
    font-weight: 400;
    font-style: normal;
}
.presents{
    cursor: pointer;
}

.greenCardText{
    text-shadow: 2px 2px 10px green;
}

.blueCardText{
    text-shadow: 2px 2px 10px blue;
}

.redCardText{
    text-shadow: 2px 2px 10px red;
}

header{
    width: 100%;
    height: 20%;
    /* background-color: #978cd482; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1% 0px;
    align-items: center;
    padding: 0;
}
.imageContainer{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#logo{
    /* width: 4.5%;
    height: 40%; */
    width: 100px;
    height: 100px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5); /* Circular shadow */
    /* background-color: inherit; */
}
.nameScore{
    /* background-color: red; */
    height: 100%;
    width: 60%;
    display: flex;
    /* flex-wrap: wrap ; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#gameName{
    color: white;
    text-shadow: 3px 3px 10px red;
    font-size: 4em;
}

.letter{
    margin: 0;
    padding: 0;
}
#score{
    padding-top: 7px;
    color: white ;
    text-shadow: 1px 1px 4px black;
}
.line{
    height: 2px;
    width: 50%;
    background-color: white;
}
.watchContainer{
    /* background-color: brown; */
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* .spinner-border {
    animation-duration: 1s ;
} */

/*
loader
*/

.loader {
    color: white;
    font-size: 8vh;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: absolute;
    animation: spin 1s infinite ease, round 1s infinite ease;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
@keyframes spin {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em,
        0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
        0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 
        0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 
        0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, 
        -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, 
        -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
        -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, 
        -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
        -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, 
        -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 
        0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@keyframes round {
0% { transform: rotate(0deg) }
100% { transform: rotate(360deg) }
}

/* Static text (watch time) */
#actualWatch {
    text-indent: 0; 
    position: relative;
    font-size: 20px;
    color: white;
    z-index: 1;
    cursor: pointer;
}


.content{
    width: 100%;
    height: 65%;
    position: relative;
    /* background-color:#432E54; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 35px;
}
.helloTxt{
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.5em;
    color: black;
    text-shadow: 1px 1px 1px red;
}
#ownCurrentScore{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 8%;
    color: white;
    font-size: 24px;
    text-shadow: 1px 1px 4px black;
}
.card{
    perspective: 1000px; /* Adds perspective for 3D effect */
    height: 70%;
    width: 25%  ;
    background: conic-gradient(rgba(13, 99, 186, 0.653), rgba(28, 46, 145, 0.701), rgba(73, 13, 184, 0.619));
    /* background-color: #af8a34; */
    /* background: linear-gradient(to right, #6f32f47f 50%, #33fb8078 50%); */
    /* clip-path: polygon(0 100%, 50% 30%, 100% 100%); */

    box-shadow: 10px 10px 10px rgb(37, 37, 2);
    transition: transform .3s;
    cursor: pointer;
    border-radius: 20px;
    
}
.card-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-title{
    margin: 0;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 3em;
    color: white ;
}
.card-body{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.miniDesc{
    padding-top: 5px;
    color: white;
    font-size: 20px;
    font-weight: 700;
}
/*
.gameImg{
    width: 80%;
    height: 80%;
    object-fit: contain;
}
.card-body{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 80%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flip-body{
    width: 100%;
    height: 80%;
    position: relative;
    transform-style: preserve-3d; Ensures both sides of the card are visible
    transition: transform 0.6s; Smooth flip animation
   
}
Front face of the card
.card-front, .card-back {
    
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; Prevents showing the back when flipped
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
}
Style for the front side
.card-front {
    background-color: inherit;
}

Style for the back side
.card-back {

    transform: rotateY(180deg); Initially rotates the back side
}

Hover effect for flipping the card
.card:hover .flip-body {
    transform: rotateY(180deg); Flips the card on hover
}*/
.card:hover div[class="line"] {
    border-color: black;
    box-shadow: 4px 4px 5px black;
}
.card-text{
    font-size: 20px;
    padding-top: 10px;
    text-align: center;
    color:  white;
}

footer{
    height: 15%;
    width: 100%;
    /* background-color:rgb(0, 0, 0); */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
}
.container{
    padding-top: 30px;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgba(255, 255, 255, 0.745);
    position: relative;
}
footer div[class="line"]{
    background-color: white ;;
    position: absolute;
    top: 0px;
    width: 80%;
    left: 10%;
    right: 10%;
}
.fa-js{
    color: yellow;
    font-size: 80px;
    cursor: pointer;
}
#html{
    color: orange;
    font-size: 80px;
    cursor: pointer;
}
#cs{
    color: rgb(0, 42, 156);
    font-size: 80px;
    cursor: pointer;
}
#bootStrap{
    color: #7032f4;
    font-size: 80px;
    cursor: pointer;
}
.htmlBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cssBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.jsBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.jQueryBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.jQueryBox img{
    width: 90px;
    cursor: pointer;
    /* height: 0px; */
    /* mix-blend-mode: multiply; /* Blends the image with the parent's background */
    /* opacity: 0.1; Adjust transparency if needed */ 
}
.htmlBox, .jsBox, .cssBox, .jQueryBox{
    margin-left: 1%;
}
/* Text with drop animation */

.logos{
    /* width: 30%; */
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;

}
@media only screen and (min-width:720px)  and (max-width: 900px) {
    .gameName{
        font-size: 2.5em
    }
    .helloTxt{
        font-size: 2em;
    }
    .card-title{
        font-size: 2em;
    }
    .miniDesc{
        font-size: 16px;
    }
    footer .container{
        width: 100% !important;
        padding:10px 0px;
        justify-content: space-between;
      }
      footer .line{
        /* display: none; */
      }
    .content{
     justify-content: space-evenly;
     gap: 20px;
    }
    .card{
     height: 60%;
     width: 30%;
     }
     .card-body{
         justify-content: center;
     }
     /* .card-title{
         margin-top: 25%;
     } */
     footer{
        height: 20%;
     }
     
 }
 @media only screen and (min-width:600px) and (max-width: 720px) {
     /* .content{
         justify-content: space-around;
     } */
     
     header{
         height: 20%;
         flex-direction: column;
         justify-content: space-around;
     }
     .gameName{
        font-size: 2.5em
    }
    .helloTxt{
        font-size: 2em;
    }
    .card-title{
        font-size: 2em;
    }
    .miniDesc{
        font-size: 16px;
    }
     .content{
        height: 60%;
     }
     .imageContainer{
         padding: 0;
         position: absolute;
         height: 20%;
         width: 20%;
         left: 0px;
         top: 0px;
         display: flex; 
         justify-content: center; 
         align-items: center;
     }
     .imageContainer img{
        /* max-width: 100%; */
        max-height: 50%;
     }
     .watchContainer{
         height: inherit;
         position: absolute;
         top: 30px;
         right: 10px;
         display: flex;
         align-items:start;
     }   
     .loader{
         font-size: 6vh;
     }
     #actualWatch{
         position: absolute;
         top: 10px;
     }
     .card{
        height: 60%;
        width: 30%;
     }
     .card-text{
        /* font: 100; */
        font-size: small;
     }
     footer{
         height: 20%;
         flex-direction: column;
         justify-content: space-between;
     }
     footer .line{
        /* display: none; */
    }
    footer .container{
        padding-top: 10px;
        width: 100% !important;
        display: flex;
        justify-content: space-between  !important;
        align-items: center;
    }
    /* .container .line{
        bottom: 50px !important;
    } */

   }
 @media only screen and (min-width:520px) and (max-width: 600px) {
     header{
         height: 20%;
         display: flex;
         justify-content: space-evenly;
     }
     .watchContainer{

     }
     .actualWatch{
        font-size: 10px ;
     }
     .loader{
        font-size: 6.5vh;
     }
     .gameName{
        font-size: 2em
    }
    .helloTxt{
        font-size: 1.5em;
    }
    .card-title{
        font-size: 1.5em;
    }
    .miniDesc{
        font-size: 15px;
    }
     .imageContainer{
        
         width: 20%;
         height: 20%;
     }
     #logo{
        height: 60px;
        width: 60px;
     }
     .content{
        height: 60%;
        justify-content: space-evenly;
     }
    .card{
        height: 60%;
        width: 30%;
    }
    .card-text{
        font-size: small;
     }
    .container{
        width: 100%;
    }
     .nameScore{
         height: inherit;
         /* position: absolute;
         top: 30px; */
         justify-content: center;
     }
     #gameName{
         font-size:40px ;
     }
     #score{
        
        font-size: 15px;
     }
     footer {
        height: 20%;
         flex-direction: column !important; /* Change to column */
         justify-content: center; /* Optional: Adjust alignment */
         align-items: center;
     }
     footer .line{
        /* display: none; */
      }
     .container h4{
        font-size: larger;
     }
     .container p{
        font-size: medium;
     }
     .companyTitle{
         width: 100% !important;
     }
     #html, #cs, #js, #jq,#bootStrap{
        font-size: 50px;
        width: 60px;
    }
 }
 
@media only screen and (min-width:400px) and (max-width:520px) {
    header{
        height: 15%;
    }
    #gameName{
        font-size: 2em;
    }
    .nameScore{
        justify-content: space-around;
    }
    #score{
        font-size: 1.5em;
    }
    .helloTxt{
        top: -10px;
        font-size: 1.5em;
    }
    #logo{
        width: 50px;
        height: 50px;
    }
    .loader{
        font-size: 6vh;
    }
    #actualWatch{
        text-align: center;
        font-size: medium;
    }
    .content{
        height: 65%;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .card{
        height: 150px;
        width: 250px;
        box-shadow: none;
        padding-bottom: 10px;
    }
    .card-text{
        font-size: small;
     }
    .card .line{
        /* visibility: hidden; */
    }
    .logos{
        display: none;
    }
    footer{
        height: 20%;
        flex-direction: row ;
        justify-content: space-between;
        /* align-items: center; */
    }
    footer .line{
        top: 20px !important;
      }
    footer .container{
        width: 100%;
    }
    .locationBox, .timeBox{
        font-size: small;
    }
    #html, #cs, #js, #jq,#bootStrap{
        font-size: 50px;
        width: 60px;
    }
}
@media only screen and (max-width : 400px) {
    header{
        height: 20%;
    }
    #gameName{
        font-size: 2em;
    }
    .nameScore{
        justify-content: space-around;
    }
    #score{
        font-size: 1.5em;
    }
    .helloTxt{
        top: -15px;
        font-size: 1.5em;
    }
    .nameScore{
        justify-content: space-evenly;
    }
    #logo{
        width: 50px;
        height: 50px;
    }
    .loader{
        font-size: 6vh;
    }
    #actualWatch{
        text-align: center;
        font-size: medium;
    }
    .content{
        flex-direction: column;
        justify-content: space-evenly;
    }
    .card{
        height: 30%;
        width: 50%;
        box-shadow: none;
        padding-bottom: 10px;
    }
    .card-title{
        font-size: larger;
    }
    .miniDesc{
        font-size: medium;
    }
    .card-text{
        font-size: small;
     }
    .card .line{
        visibility: hidden;
    }
    .logos{
        display: none;
    }
    footer{
        height: 20%;
        flex-direction: row ;
        justify-content: space-between;
        /* align-items: center; */
    }
    footer .line{
        /* display: none; */
        position: absolute;
        top: 20px !important;
      }
    footer .container{
        padding: 0;
        width: 100%;
        align-items: center;

    }
    #html, #cs, #js, #jq,#bootStrap{
        font-size: 40px;
        width: 50px;
    }
    /* .htmlBox, .cssBox, .jsBox, .jQueryBox{
        font-size: 50px;
    } */
    /* footer .line{
        bottom: 30px !important;
    } */
    .locationBox, .timeBox{
        font-size: small;
    }
}

/* @media only screen and (min-height:650px) and (max-height : 800px) {
    .content{
        height: 500px;
    }
    header{

    }
    
} */

.cardBlocked{
    background-color: rgb(255,255,255,0.3);
   
    border-radius: 20px;
}
.non-clickable{
    pointer-events: none;
}


p{
    margin-bottom: 0px;
}
#resetBtn{
    position: absolute;
    top: 0%;
    right: 6.2%;
    background-color:rgba(1,0,60,0.3);
    width: 13%;
    font-size: 30px;
    height: 2.7em;
    color: white;
    border: none;
    outline: none;
    border-radius: 20px;
    box-shadow: 3px 3px 10px black;
}
#resetBtn:hover{
    background-color: rgba(1,0,60,0.7);
    
}
#currScore{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 22px !important;
    font-weight: 400;
}